<h1>イベント検索</h1>
<section>
    <h2>検索条件</h2>
    <form [formGroup]="searchForm">
        <mat-form-field appearance="fill">
            <mat-label>キーワード</mat-label>
            <input formControlName="keyword" matInput placeholder="Angular">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>開催日</mat-label>
            <mat-date-range-input [rangePicker]="picker">
                <input matStartDate formControlName="from" [placeholder]="fromPlaceholder">
                <input matEndDate formControlName="to" [placeholder]="toPlaceholder">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>

            <mat-error
                *ngIf="searchForm.controls.from.hasError('matStartDateInvalid') || searchForm.controls.to.hasError('matEndDateInvalid')">
                日付を選択し直してください</mat-error>
        </mat-form-field>
        <button type="button" mat-raised-button color="primary" (click)="search()">検索</button>
    </form>
</section>
<section>
    <h2>検索結果</h2>
    <ng-container *ngFor="let event of events$ | async; trackBy:trackById">
        <a (click)="goToDetail(event)">
            <mat-card>
                <mat-card-title>{{event.title}}</mat-card-title>
                <mat-card-subtitle>{{event.catch}}</mat-card-subtitle>
            </mat-card>
        </a>
    </ng-container>
</section>